

body.quick-access-office-apps__popup::-webkit-scrollbar {
  width: var(--sb-size)
}
body.quick-access-office-apps__popup::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}
body.quick-access-office-apps__popup::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body.quick-access-office-apps__popup {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

body.quick-access-office-apps__popup {
  --sb-track-color: #f1f1f1;
  --sb-thumb-color: #9bdaf1;
  --sb-size: 7px;

  width: 300px;
  padding: .5rem;
  font-family: Arial, sans-serif;
}

.quick-access-office-apps__popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quick-access-office-apps__popup-container .app-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  grid-auto-rows: 100px;
}

.quick-access-office-apps__popup-container .app-item {
  display: flex;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

.quick-access-office-apps__popup-container .app-item button {
  width: 100%;
  border-radius: 10px;
  background: rgb(172,169,210);
  background: linear-gradient(45deg, rgb(255 255 255 / 1%) 0%, rgb(154 198 235 / 33%) 35%, rgb(255 255 255 / 1%) 100%);
  border: none;
  padding: 5px;
  transition: box-shadow ease-in-out 300ms;
}
.quick-access-office-apps__popup-container .app-item button:hover {
  cursor: pointer;
  box-shadow: 4px 4px 11px 0px rgba(0,0,0,0.17);
  transition: box-shadow ease-in-out 300ms;
}
.quick-access-office-apps__popup-container .app-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.quick-access-office-apps__popup-container .app-item span {
  display: block;
  font-size: 11px;
}


.quick-access-office-apps__popup-settings-btn {
  cursor: pointer;
  display: inline-block;
  border: 2px solid #0078e7;
  border-radius: .5rem;
  padding: .875em 1.6em;
  margin: 1.2rem 0 .875rem 0;
  font-size: 1rem;
  background: transparent;
  color: #0078e7;
}
.quick-access-office-apps__popup-settings-btn:hover {
  background-color: #0078e7;
  transition: all ease-in-out 200ms;
  color: #fff;
  border-color: transparent;
}

.quick-access-office-apps__popup-btn-goto {
  font-size: .8rem;
  color: #888;
}
.quick-access-office-apps__popup-btn-goto:hover {
  text-decoration: none;
}


.quick-access-office-apps__popup footer {
  width: 80%;
  text-align: center;
  font-size: .8rem;
  color: #888;
  margin-top: 1.2rem;
  padding-top: 1.2rem;
  border-top: 1px solid #ddd;
}
.quick-access-office-apps__popup footer a {
  color: #888;
}
.quick-access-office-apps__popup footer a:hover {
  text-decoration: none;
}

span.quick-access-office-apps__bullet {
  padding: 0 1rem;
}


